@model OrderListModel

@{
    ViewBag.Title = "Order list";
}
@section Breadcrumb {
    <li class="active">Orders</li>
}

<section class="clearfix bg-dark dashboardOrders">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("Partials/_OrderSearch", Model.Search)
            </div>
            <div class="col-xs-12">
                <div class="table-responsive bgAdd" data-pattern="priority-columns">
                    <table id="ordersTable" class="table table-small-font table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Customer Name</th>
                                <th>Product Code</th>
                                <th>Brand</th>
                                <th>Product Description</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Orders.Count() != 0)
                            {
                                foreach (var item in Model.Orders)
                                {
                                    <tr>
                                        <td>@item.UserId</td>
                                        <td>@item.User.FirstName @item.User.LastName</td>
                                        <td>@item.Product.Code</td>
                                        <td>@item.Product.Brand</td>
                                        <td>@item.Product.Description</td>
                                        <td>@item.Product.Cost</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6"> No Data</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</section>

@section Script {
}

@section Header {
}